#userstat{
	background-color: white;
	list-style:none;
	margin: 0;
	padding: 0;
	/*box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.4);*/
}

#userstat > li{
	padding: 0.5em 0;
	float: left; 
	width: 25%; 

	box-sizing:border-box;
	border-top: 1px solid lightgray;
	border-left: 1px solid lightgray;
	font-weight: bold;
	text-align: center;
}

#userstat > .clickable{
	cursor : pointer;
}

#userstat > li > .count{
	display: inline-block;
	padding: 0.25em 0;
	width: 80%;

	color: white;
	font-weight: normal;
	font-size: small;

	background-color: lightgray;
	border-radius: 1em;
}
