canvas{
	-webkit-touch-callout:none;
	-webkit-user-select:none;
}

	.topbar{
		position: absolute !important;
		top: 0 !important;
		left: 16px !important;
		font-size: medium !important;
		height: 1em !important;
		padding: 0.25em !important;
		border-radius: 0.5em !important;
	}

#translate{
	display: none !important; 
}

